{% extends 'base.html' %}

{% block title %}Lista de libros{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h1>Libros</h1>
    </div>
    <div class="card-body">
        <h5 class="card-title">Lista de libros</h5>
        <a href="{% url 'crear' %}" class="btn btn-primary">Crear libro</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Imagen</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>El señor de los anillos</td>
                    <td>https://via.placeholder.com/150</td>
                    <td>Descripción del libro</td>
                    <td>
                        <a href="{% url 'editar' 1 %}" class="btn btn-primary">Editar</a>
                        <a href="#" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
