{% extends 'base.html' %}

{% block content %}
<section class="py-8">
    <div class="container mx-auto px-6 md:px-12">
        <div class="flex flex-col md:flex-row items-center">
            <div class="w-full md:w-1/2 md:pr-16">
                <h2 class="text-3xl md:text-4xl font-bold mb-4">Sobre Nosotros</h2>
                <p class="mb-8">Somos una agencia de marketing digital que se enfoca en ayudar a las peque as y medianas empresas a alcanzar sus objetivos a trav s de la creaci n de estrategias de marketing efectivas y la implementaci n de tecnolog as digitales.</p>
                <p class="mb-8">Contamos con un equipo de expertos en marketing digital con experiencia en el dise o y desarrollo de campa as publicitarias, SEO, SEM, email marketing, marketing de redes sociales, etc.</p>
                <p class="mb-8">Nuestro objetivo es ayudar a las empresas a crecer y prosperar en el mercado digital.</p>
            </div>
            <div class="w-full md:w-1/2">
                <img src="https://static.vecteezy.com/system/resources/previews/012/779/005/non_2x/ideas-for-designer-content-ui-design-landing-page-website-flat-template-vector.jpg" alt="">
            </div>
        </div>
    </div>
</section>
{% endblock %}
